/*-----Loader-----*/

@import url('loader.css');
#loader-wrapper {
    background-color: #DCDCDC;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#loader {
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -100px 0 0 -100px;
}

.loader-ellips {
    font-size: 20px;
    position: relative;
    width: 64px;
    margin: 100px auto 0;
}
.ring {
    width: 200px;
    height: 200px;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
}

    .ring:nth-child(1) {
        border-bottom-width: 8px;
        border-color: #081F3E;
        animation: rotate1 2s linear infinite;
    }

    .ring:nth-child(2) {
        border-right-width: 8px;
        border-color: #ff851a;
        animation: rotate2 2s linear infinite;
    }

    .ring:nth-child(3) {
        border-top-width: 8px;
        border-color: #fff;
        animation: rotate3 2s linear infinite;
    }

@keyframes rotate1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
