@model CroweAlumniPortal.Dtos.UserLoginDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Login - CroweAlumniPortal</title>
    <meta content="" name="description">
    <meta content="HRMS-Crowe" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/fav Crowe.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/Crowe.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/CustomCss.css" rel="stylesheet" />
    <link href="~/assets/css/sweet-alert.css" rel="stylesheet" />

</head>

<body>
    <div id="loader-wrapper">
        <div id="loader">
            <div class="loader-ellips">
                <span class="ring"></span>
                <span class="ring"></span>
                <span class="ring"></span>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="d-flex justify-content-center">
                                <a class="Crowelogo align-items-center d-flex">
                                    <img src="~/assets/img/Crowe.png" alt="HRMS">
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3" style="margin-bottom:0 !important; padding:18px !important;">
                                <!-- size thora bara -->
                                <div class="card-body" style="padding:12px !important;">
                                    <!-- body padding adjust -->
                                    <div class="pt-1 pb-2" style="margin-bottom:6px !important;">
                                        <!-- thora kam gap -->
                                        <h5 class="card-title text-center pb-0 fs-4" style="margin-bottom:4px !important;">LOGIN TO ALUMNI PORTAL</h5>
                                        <p class="text-center small" style="margin-bottom:6px !important;">Access to our Dashboard</p>
                                    </div>
                                   @*  <div class="login-form">
                                        <form id="loginForm" class="row g-3 needs-validation" novalidate style="margin-bottom:0 !important;">
                                            <div class="inputlogin-form" style="margin-bottom:6px !important;">
                                                <input type="text" class="form-control" name="email" required id="LoginId"
                                                       autocomplete="off">
                                                <label for="LoginId" class="form-label">Login Id</label>
                                                <div class="invalid-feedback">Please enter your Login Id.</div>
                                            </div>

                                            <div class="inputlogin-form" style="margin-bottom:10px !important;">
                                                <input type="password" class="form-control" name="password" required id="Password"
                                                       autocomplete="off">
                                                <label>Password</label>
                                                <i class="bi bi-eye-slash" id="eye" onclick="togglePasswordVisibility()"></i>
                                                <div class="invalid-feedback">Please enter your password!</div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-12 mb-2" style="margin-bottom:10px !important;">
                                        <!-- type="button" taki default submit na ho -->
                                        <button class="btn btn-primary account-btn" type="button" id="btn_Login"
                                                style="margin-bottom:0 !important;">
                                            Login
                                        </button>
                                    </div> *@

                                    <div class="login-form" id="login">
                                        <form class="row g-3 needs-validation" novalidate style="margin-bottom:0 !important;" id="loginForm">
                                            <div class="inputlogin-form" style="margin-bottom:6px !important;">
                                                <!-- login id niche kam gap -->
                                                <input type="text"  name="email" required id="LoginId" autocomplete="off">
                                                <label for="LoginId" class="form-label">Login Id</label>
                                                <div class="invalid-feedback">Please enter your Login Id.</div>
                                            </div>

                                            <div class="inputlogin-form" style="margin-bottom:10px !important;">
                                                <!-- password niche normal gap -->
                                                <input type="password"  name="password" required id="Password" autocomplete="off">
                                                <label>Password</label>
                                                <i class="bi bi-eye-slash" id="eye" onclick="togglePasswordVisibility()"></i>
                                                <div class="invalid-feedback">Please enter your password!</div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-12 mb-2" style="margin-bottom:10px !important;">
                                        <button class="btn btn-primary account-btn" type="button" id="btn_Login"
                                                style="margin-bottom:0 !important;">
                                            Login
                                        </button>
                                    </div>

                                    <form class="row g-3 needs-validation" id="forgotPasswordForm" style="margin-bottom:0 !important;">
                                        <div class="col-md-6" style="margin-bottom:5px !important;">
                                            <a asp-controller="Alumni" asp-action="AlumniForm" id="forgotPassword"
                                               style="color:#f7b400; text-decoration:none; font-weight:500;">
                                                Create an Account
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>

                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->
    <footer id="toggle-sidebar footer" class="footer">
        <div class="copyright">
            &copy; Powered by <strong><span>Crowe Technology Foundation</span></strong>.
        </div>
    </footer>
    <!-- Vendor JS Files -->
    <script src="~/assets/js/jquery-3.5.1.js"></script>
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.min.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/js/sweet-alert.min.js"></script>

    <!--Loader-->
    <script src="~/assets/js/loader.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
	<script src="~/assets/js/ajax/home/login.js"></script>
</body>

</html>